<div id = 'articles'>
<h1>Featured Infographics</h1>
  <ul>
    <li>
      <%= link_to 'Top Reasons For Coupon Use By Women', :controller=>'articles', :action=>'top_reasons_for_coupon_use_by_women'%></li>
  </ul>
<br />
<h1>Mom Articles</h1>
We present a collection of articles to help moms find deals, coupons, free samples and savings online for groceries, baby products, and much more.
<ul>
  <li><%= link_to 'Deals For Mommy - Coupons Savings and Samples', :controller=>'articles', :action => 'deals_for_mommy_coupons_savings_and_samples' %></li>
  <li><%= link_to 'Diaper_Coupons - Making Moms Lives Easier', :controller=>'articles', :action => 'diaper_coupons_making_moms_lives_easier' %></li>
  <li><%= link_to 'Is Enfamil the Best for Your Baby', :controller=>'articles', :action => 'is_enfamil_the_best_for_your_baby' %></li>
  <li><%= link_to 'Money Saving Tips for Moms - Baby Coupons Online', :controller=>'articles', :action => 'money_saving_tips_for_moms_baby_coupons_online' %></li>
  <li><%= link_to 'Baby Coupons Gerber and Other Infant Formula', :controller=>'articles', :action => 'baby_coupons_gerber_and_other_infant_formula' %></li>
  <li><%= link_to 'Tips for Finding Huggies Coupons', :controller=>'content_pages', :action => 'show', :path => 'huggies-coupons-tips' %></li>
  <li><%= link_to 'Pampers Coupons for Smart Moms', :controller=>'content_pages', :action => 'show', :path => 'pampers-coupons' %></li>
</ul>
</div>
