<div id="mainDiv">
	<div style="padding:15px 0 0">
		To remove a email, please enter email address and click the "Unsubscribe" button.<br /><br />
	</div>
    <% if defined? @message %>
	<div class="error"><%= @message %></div>
    <% end %>
  	<%= simple_form_for :dbunsub do |f| %>
   	  <%= f.input :email,:label => "Enter email", :placeholder => 'enter your email here' %><br /><br />
	  <%= image_submit_tag 'btn-unsubscribe.gif', :class=>'unsubscribeButton', :name => 'submitButton', :style => 'width:175px;height:50px' %>
	  <%= link_to(image_tag("btn-cancel.gif"), home_path) %>
	<% end %>
	<br /><br />
</div>