				<ul>
					<li><%= image_tag 'logos/pampers.gif',:alt => "Coupons for pampers Diapers", :size=>"125x70" %></li>
					<li><%= image_tag 'logos/gerber-life.gif',:alt => "Gerber Life Insurance", :size=>"167x" %></li>
					<li><%= image_tag 'logos/playskool.gif',:alt => "Playskool Coupons", :size=>"125x53" %></li>
					<li><%= image_tag 'logos/colgate.gif',:alt => "Coupons for Colgate", :size=>"162x34" %></li>
					<li><%= image_tag 'logos/chilis.gif',:alt => "Chilis Coupons", :size=>"98x79" %></li>
				</ul>