<div id="mainDiv" class="how-it-works">
	<div class="how-it-works-header"><%= image_tag 'how-it-works-header.png',:size=>'907×236',:alt=>'Delia makes saving easy' %></div>
	<ul class="bullet-point">
		<li><h2>Bringing local and internet deals to one place</h2></li>
		<li><h2>Pick the deals that best suit you and your family</h2></li>
		<li><h2>Share your deals with the community - <span class="color6">coming soon!</span></h2></li>
	</ul>
	<br class="clear" />
	<ul class="boxes">
		<li class="box1"><%= image_tag 'hiw-step1.png',:alt=>'Step 1 is to join Deals For Mommy',:size=>"294×298" %><div style="margin-top:-295px"><h3>Join the<br /><span>Community of Moms</span></h3></div></li>
		<li class="box2"><%= image_tag 'hiw-step2.png',:alt=>'Step 2 is to select deals and coupons',:size=>"294×298" %><div style="margin-top:-295px"><h3>Pick Deals<br/><span>from Trusted Brands</span></h3></div></li>
		<li class="box3"><%= image_tag 'hiw-step3.png',:alt=>'Step 3 is to personalize your deal dashboard',:size=>"294×298" %><div style="margin-top:-295px"><h3>Personal<br/><span>Deal Dashboard</span></h3><br /><%= link_to 'Get your Deal Dashboard', '/signup', :class => "box3link" %></div></li>
	</ul>
</div>
<br class="clear" />