<div id="mainDiv">
<h1>Deals For Mommy Sitemap</h1>
<ul style="font-size:12px;line-height:20px">
<li><%= link_to "Find Deals, Coupons, & Samples Online From Top Brands at Deals For Mommy | Deals For Mommy" , "/", :title =>"Find Deals, Coupons, & Samples Online From Top Brands at Deals For Mommy | Deals For Mommy" %></li>
<li><%= link_to "Sign in - Online Coupons, Deals, & Samples For Moms | Deals For Mommy",  signin_path, :title=>"Sign in - Online Coupons, Deals, & Samples For Moms | Deals For Mommy" %></li>
<li><%= link_to "About Us - Coupons & Deals For Moms | Deals For Mommy", { :controller => "pages", :action => "about" }, :title=>"About Us - Coupons & Deals For Moms | Deals For Mommy" %></li>
<li><%= link_to "How It Works - Learn How To Get Local & Online Deals | Deals For Mommy", { :controller => "pages", :action => "howitworks" }, :title=>"How It Works - Learn How To Get Local & Online Deals | Deals For Mommy" %></li>
<li><%= link_to "Terms & Conditions | Deals For Mommy", { :controller => "pages", :action => "terms" }, :title=>"Terms & Conditions | Deals For Mommy" %></li>
<li><%= link_to "Privacy Policy | Deals For Mommy", { :controller => "pages", :action => "privacy" }, :title=>"Privacy Policy | Deals For Mommy" %></li>
<li><%= link_to "Advertise With Us | Deals For Mommy", { :controller => "advertisers", :action => "new" }, :title=>"Advertise With Us | Deals For Mommy" %></li>
<li><%= link_to "Recover Password | Deals For Mommy", { :controller => "members", :action => "recover_password" }, :title=>"Recover Password | Deals For Mommy" %></li>
</ul>
</div>