<div id ="pp">
<%= link_to 'Feature a Deal', feature_a_deal_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to 'Privacy Policy', :controller => 'pages', :action => 'privacy' %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to 'Terms Of Use', :controller => 'pages', :action => 'terms' %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to 'Contests', :controller => 'contest', :action => 'index' %>&nbsp;&nbsp;|&nbsp;&nbsp; 
  <%= link_to 'Mom Articles', :controller => 'articles', :action => 'index' %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to 'Blog','http://blog.dealsformommy.com/' %>&nbsp;&nbsp;|&nbsp;&nbsp;
  <%= link_to 'Sitemap', :controller => 'pages', :action => 'sitemap' %>&nbsp;&nbsp;
	<br>&nbsp;&nbsp;Copyright &copy; <%=Time.now.strftime('%Y')%> <%= link_to 'DealsForMommy.com', '/',:target=>'_blank' %>&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved
    <br>Disney Online Moms and Family Portfolio
</div>
<br />