<!--partnerDfmMaindiv start-->
<div id="partnerDfmMaindiv">
  <!--partnerDfmMessagebox start-->
  <div id="partnerDfmMessagebox">
	<!--partnerDfmMessage start-->
    <div id="partnerDfmMessage">
	  <%= image_tag 'dwnarrow.jpg', :size=>'18x18' %>
	  <h2>Deals for Mommy Members, Great children book offer!</h2>
	</div>
    <!--partnerDfmMessage end-->
    <!--partnerDfmViewDealBut start-->
	<div id="partnerDfmViewDealBut"><%= link_to (image_tag 'viewnextdeal-butt.jpg', :size=>'183x44', :alt=>'View Next Deal'), @next_deal %></div>
	<!--partnerDfmViewDealBut end-->
    <!--partnerDeliaTop start-->
	<div id="partnerDeliaTop"><%= image_tag 'dealiatop.png',:size=>'74x92'%></div>
    <!--partnerDeliaTop end-->
  </div>    
  <!--partnerDfmMessagebox end-->
  <div class="clear"></div>
  <!--partnerDfmMainContentt end-->
  <div class="partnerDfmMainContentt">
	<!--partnerDfmLeftcol start-->
	<div class="partnerDfmLeftcol">
	  <!--partnerDfmLeftcolHeader start-->
	  <div id="partnerDfmLeftcolHeader"><%= link_to (image_tag 'elmo_599x277.jpg', :size=>'599x277', :alt=>'Your Free* 8x10 Canvas is waiting...  or take $50 off a larger size canvas! - Create Canvas'), '', :onclick=>"window.open('#{@promo_link}', 'mywindow', 'location=1,status=1,scrollbars=1,width=950,height=600');window.location='#{@next_deal}';return false;" %></div>
	  <!--partnerDfmLeftcolHeader end-->
	  <!--partnerDfmLeftcolMain start-->
	  <div id="partnerDfmLeftcolMain">
		<!--partnerDfmLeftcolContent start-->
		<div class="partnerDfmLeftcolContent">
		  <h2>The Lowdown</h2>
		  <p>
			If your child loves Sesame Street, you’ll LOVE this deal!  
			Quantities are limited, so act now to get the incredible 27-Piece 
			Elmo’s Learning Adventure Gift Package for only $5.95 with FREE Shipping 
			PLUS a FREE Preschool-ready Elmo Backpack! 
			<br /><br />
			That’s a 90% savings! (Valued at $59.70)
			<br /><br />
			Your child will LOVE to learn when Elmo & the rest of the Sesame Street gang 
			teach numbers, colors, the alphabet, sharing, health and problem solving. 

		  </p>
		  <h2>At a Glance</h2>
		  <ul>
			<li><span>2 Hardcover Storybooks with Sesame Street characters</span></li>
			<li><span>2 Activity Books with learning activities</span></li>
			<li><span>12 Adventure Cards with fun activities</span></li>
		  	<li><span>Sturdy Storage Slipcase for books & Flip-top Storage Box for Adventure Cards</span></li>
			<li><span>9 Storage Box Divider Cards</span></li>
		</ul>
		  <div class="clear"></div>
		  <!--partnerDfmLeftColGetStartedBut start-->
		  <blockquote><%= link_to (image_tag 'getstarted_button.png', :alt=>'Get Started',:size=>'206x41'), '', :onclick=>"window.open('#{@promo_link}', 'mywindow', 'location=1,status=1,scrollbars=1,width=950,height=600');window.location='#{@next_deal}';return false;" %><br /><br /><%= link_to 'See Next Deal', @next_deal %></blockquote>
		  <!--partnerDfmLeftColGetStartedBut end-->
		</div>
		<!--partnerDfmLeftcolContent end-->
		<div class="clear"></div>
	  </div>
	  <!--partnerDfmLeftcolMain end-->
    </div>
    <!--partnerDfmLeftcol end-->
    <!--partnerDfmRightcol start-->
    <div class="partnerDfmRightcol">
	  <!--partnerDfmRightcolHeader start-->
	  <div class="partnerDfmRightcolHeader">
		<!--partnerDfmRightcolHeaderTop start-->
		<div class="partnerDfmRightcolHeaderTop"><%= image_tag 'whatdeal-text.gif', :alt=>"What's the Deal?", :size=>'149x38' %></div>
		<!--partnerDfmRightcolHeaderTop end-->
		<dl>
		  <dt>Your Cost:</dt><dd>$ 5.95</dd>
		  <dt>Value:</dt><dd>$59.70</dd>
		  <dt>Discount:</dt><dd>$53.75</dd>
		</dl>
	  </div>
	  <!--partnerDfmRightcolHeader end-->
	  <div class="clear"></div>
	  <!--partnerDfmRightcolDealTag start-->
	  <div class="partnerDfmRightcolDealTag">
		<p><strong>view this deal</strong><br />
          <%= link_to ( image_tag 'get-started.png', :alt=>'Get Started', :size=>'206x41' ) , '', :onclick=>"window.open('#{@promo_link}', 'mywindow', 'location=1,status=1,scrollbars=1,width=950,height=600');window.location='#{@next_deal}';return false;" %></p>
	  </div> 
	  <!--partnerDfmRightcolDealTag end-->
	  <div class="clear"></div>
	  <!--partnerDfmRightcolMain start-->
	  <div class="partnerDfmRightcolMain">
		<div align="center">
			
		<%= link_to ( image_tag 'ELMO_logo.jpg', :alt=>'', :size=>'239x149' )  , '', :onclick=>"window.open('#{@promo_link}', 'mywindow', 'location=1,status=1,scrollbars=1,width=950,height=600');window.location='#{@next_deal}';return false;" %><br />
		</div><br />
		<h5>About</h5>
		<p>
			Elmo’s Learning Adventure is a unique chance to share the best of Sesame 
			Street with your children.
			<br /><br />
			
			Elmo's Learning Adventure brings the teaching power of Sesame Street into
			your home with Storybooks, 
			<br /><br />
			
			Adventure Cards and Activity Books specifically designed for preschoolers.
			<br /><br />
			
			All the fun-filled components of Elmo’s Learning Adventure work together to 
			help prepare your child to start school with a wide range of skills - and a 
			smile!

		</p>
	  </div>
	  <!--partnerDfmRightcolMain end-->
    </div>
    <!--partnerDfmRightcol end-->
  </div>
  <!--partnerDfmMainContentt end-->
  <div class="clear"></div>
  <!--partnerDfmRightcolSocial start-->
  <div class="partnerDfmRightcolSocial">
	<p><strong>Stay in the loop!</strong></p>
	<%= link_to (image_tag 'rightcol-twit.jpg' , :alt=> 'Twitter' , :size=>'22x17'), "http://twitter.com/dealsformommy", :target => "_blank" %>
	<%= mail_to "", (image_tag 'rightcol-mail.jpg' , :alt=> 'Share' , :size=>'22x17'), :subject=>'DealsForMommy.com',:body=>'I want to share with you a great deal site that I found. http://www.dealsformommy.com' %>
	<%= link_to (image_tag 'rightcol-facebook.jpg' , :alt=> 'Facebook' , :size=>'22x17'), "http://facebook.com/dealsformommy", :target => "_blank" %>
	<%= link_to (image_tag 'rightcol-like.jpg' , :alt=> 'Facebook' , :size=>'47x17'), "http://www.facebook.com/ajax/signup_dialog.php?page_id=152488101454439&next=http%3A%2F%2Fwww.facebook.com%2Fdealsformommy", :target => "_blank" %>
  </div>
  <!--partnerDfmRightcolSocial end-->
  <div class="clear"></div>
</div>
<!--partnerDfmMaindiv end-->
