<!-- End message -->
<div id="mainDiv">
  <!-- Start formContainer-->
  <% if params[:m] %>
  <h3 style="font-size:18px;margin-bottom: 20px">Did you know? All Cute Kid Members get a free Deals for Mommy account. Woohoo!</h3>
  <p>You may have missed our email welcoming you, but that’s ok!<br />Enter your email below &amp; you will receive an email with instructions on how to set up your password &amp; start saving.</p>
  <br />
  <% end %>
  <div id="formContainer">
	 <p style="color:#f00"><%= @message ||= '' %></p>
    <%= form_tag do %>
      <%= label_tag "Email Address:" %>
      <%= text_field_tag :email %><br /><br />
      <%= submit_tag "Recover Password" %>
    <% end %>
  </div>
  <!-- End formContainer -->
</div>
<br class="clear" />