<!-- End message -->
<div id="mainDiv">
  <!-- Start formContainer-->
  <div id="formContainer">
  <%= simple_form_for(Member.new,:html => {:novalidate => true}, :url => reset_password_path+'/?token='+params[:token] ) do |form| %>
		<p style="color:#f00"><%= @message ||= '' %></p>
<%= form.input :password %><br style="clear: both" />
  <%= form.input :password_confirmation %>
  <%= hidden_field :token, params[:token] %><br /><br />
  <%= form.submit 'Reset Password' %>
  <% end %>
  </div>
  <!-- End formContainer -->
</div>
<br class="clear" />